html {
    padding: 0px;
    margin: 0px;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
h1 {
    font-size: 200%
}

strong {
    font-weight: bold;
}
table {
    cell-spacing: collapse;
}

td {
    padding: 10px;
}

a,
a:visited {
    color: blue;
}

#header {
    margin: 0px;
    background: black;
    color: white;
    padding-top: 10px;
    height: 25px;
}

#header h1 {
    font-size: 20px;
}
#header h1 a {
    color: white;
    text-decoration: none;
}

#header-links {
    border: 1px solid #667;
    border-bottom: 0px;
    float: right;
    background: #445;
    padding: 4px 10px 0;
    line-height: 20px;
}

#header-links a {
    color: #ddd;
    font-weight: bold;
    text-decoration: none;
    padding: 0 5px;
}

#header-links a:hover {
    color: #fff;
}

div.container {
    width: 750px;
    margin: auto;
}

#main {
    padding: 10px;
    border: 1px solid black;
    border-top: 0px;
    min-height: 300px;
}

#footer {
    text-align: right;
}

.box {
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 400px;
    margin: 10px auto;
}
.box h1 {
    background: black;
    color: white;
    padding: 5px 5px 0;
    font-size: 15px;
}
.box .box-content {
    padding: 5px;
}

ul.albums li {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.box-buttons {
    text-align: right;
    border-top: 1px solid black;
    padding: 5px;
    background: #eee;
    -moz-border-radius: 0px 0px 5px 5px;
}

.button {
    -moz-border-radius: 5px;
    border: 1px solid blue;
    background: #ddf;
    color: black;
    padding: 0 5px;
    line-height: 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.progressbar .bar {
    height: 20px;
    border: 1px solid black;
}

.progressbar .progress {
    height: 100%;
    background: blue;
}