html {
    padding: 0px;
    margin: 0px;
}
body {
    padding: 0px;
    margin: 0 0 60px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
h1 {
    font-size: 200%
}

strong {
    font-weight: bold;
}

a {
    cursor: pointer;
    color: #555;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #000;
}

#settings {
    position: absolute;
    margin: auto;
    width: 770px;
    top: 150px;
    background: white;
    min-height: 300px;
}
#settings table {
    cell-spacing: collapse;
    margin: auto;
}
#settings table td {
    padding: 10px;
}

#settings td.buttons {
    text-align: right;
}

#header {
    margin: 20px auto 10px;
    padding-top: 10px;
    height: 25px;
}

#header h1 {
    text-align: center;
    font-size: 20px;
}
#header h1 a {
    color: black;
    text-decoration: none;
}

#header-links {
    float: right;
    padding: 4px 10px 0;
    line-height: 20px;
}

#header-links a {
    color: #555;
    font-weight: bold;
    text-decoration: none;
    padding: 0 5px;
}

#header-links a:hover {
    color: #000;
}

div.container {
    width: 750px;
    margin: auto;
}

#main {
    padding: 10px;
    min-height: 300px;
}

#footer {
    position: fixed;
    color: #aaa;
    bottom: 0px;
    width: 100%;
    text-align: center;
    line-height: 60px;
    background: white;
}

#status-box {
    padding: 50px 50px;
}
#status-box .profiles {
    text-align: center;
    margin-bottom: 30px;
}
#status-box a {
    white-space: nowrap;
}
#status-box a img.icon {
    position: relative;
    top: 3px;
}
#status-box .profiles .arrow {
    font-size: 100px;
    font-weight: bold;
    color: #ccc;
}
#status-box table {
    display: inline-block;
    table-layout: fixed;
}
#status-box table td {
    width: 150px;
}

#status-box .stats {
    margin-top: 3px;
    float: right;
    font-size: smaller;
    color: #555;
}

#status-box .last-update {
    border: 2px solid #ccc;
    padding: 10px;
    width: 400px;
    margin: auto;
    text-align: center;
}
#status-box .last-update {
    color: #aaa;
}
#status-box .last-update .time-left {
    color: #333;
    display: block;
    font-size: 30px;
}
#status-box .last-update .time-since-last-sync {
    font-size: smaller;
}
#status-box .last-update .sync-now {
    display: block;
    margin: 10px auto 35px;
    padding: 10px;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    background: #e5ffc0;
    font-size: 18px;
}
#status-box .last-update .sync-now:hover {
    border: 2px solid black;
    position: relative;
    bottom: 1px;
    margin-bottom: 33px;
}

#frontpage {
    margin-top: 50px;
}
#frontpage .step {
    min-height: 150px;
    text-align: center;
}
#frontpage .step h1 {
    margin-bottom: 10px;
    font-size: 18px;
}
#frontpage table {
    display: inline;
}
#frontpage table td {
    padding: 10px;
}

#frontpage .step a {
    text-align: center;
}

#frontpage .completed h1{
}

#frontpage .disabled {
    opacity: .4;
}
#frontpage .disabled a {
    cursor: default;
}
#frontpage .disabled .big-button,
#frontpage .disabled .big-button:hover {
    color: #c55;
    background: #fff5f5;
}

.big-button {
    display: inline-block;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #fcc;
    padding: 10px;
    color: #c55;
    background: #fff5f5;
}
.big-button:hover {
    color: #f00;
    background: #ffe5e5;
}

img.profile-pic {
    border: 1px solid #ccc;
    padding: 5px;
}


.error {
    width: 400px;
    border: 5px double red;
    padding: 10px;
    margin: 20px auto;
    background: #ffd5d5;
}

.error a {
    color: blue;
    text-decoration: underline;
}

.box {

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 400px;
    margin: 10px auto;
}
.box h1 {
    color: #222;
    padding: 5px 5px 0;
    font-size: 15px;
    border-bottom: 1px solid #999;
}
.box .box-content {
    padding: 5px;
}

.box-buttons {
    text-align: right;
    border-top: 1px solid black;
    padding: 5px;
    background: #eee;
    -moz-border-radius: 0px 0px 5px 5px;
}


.button {
    color: black;
    padding: 0 5px;
    line-height: 20px;
    border: 1px solid #ddd;
    padding: 0px 15px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.button:hover {
    border: 1px solid #888;
}

.progressbar .message {
    margin-bottom: 5px;
}

.progressbar .bar {
    height: 20px;
    border: 2px solid #555;
    background: #fff5f5;
}
.progressbar .progress {
    height: 18px;
    background: #899;
    background: #ffd5d5;
    border: 1px solid #ccc;
    border: 1px solid #f00;
    border-right: 0;
    border-right: 2px solid #f00;
}